#wrapper {
    width:100%;
}

header {
    position: fixed;
	width:100%;
    height: 60px;
    color: #fff;
    border-bottom: 1px solid #d2d2d2;
    background-color:#f0f0f0;
}



header h1 {
    Position:absolute;
	padding: 0 15px;
    color: #666;
    top: 11px;
}

header ul {
    list-style:none;
    margin:0;
    padding:0;
}

header ul li {
    float: right;
            margin:0;
    padding:0;
}
header a {
    display:block;
    width: 60px;
    height:58px;
    background-position: center center;
    background-repeat:no-repeat;
    background-color:3b3b3b;
}

header a.bak:hover {
    background-color: #c32723;
    border-bottom:2px solid #83302e;
}

#bExit {
    background-image:url('../img/quit.png');
}
#bNavigate {
    background-image:url('../img/navigate.png');
}

#gpsled {
	width: 60px;
	height:58px;
	background-position: center center;
    background-repeat:no-repeat;

}
#gpsled.ok {
	background-image:url('../img/ok_gps.png');
}
#gpsled.no {
	background-image:url('../img/no_gps.png');
}

a.button {
    width:auto;
    height: 55px;
    line-height: 55px;
    background-color: #d4051c;
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 0 15px;
    -moz-border-radius: 21px;
	border-radius: 21px;
}

header a {
    float:right;
}

#content {
	padding-top:60px;
}

.submit {
    position:relative;
    text-align:center;
    height: 55px;
    padding: 25px 0;
}

#bRoute {
    width: 100px;
    position: absolute;
    left:50%;
    margin-left:-50px;
}

.pseudo-table {
    border: 1px solid #d2d2d2;
    background-color:#f0f0f0;
    margin-top: 25px;
}

footer {
    text-align:center;
}

#previews, #signals ul, #contacts ul {
 padding:0;
    margin:0;
}

#previews li, #signals li, #contacts li {
    list-style:none;
    float:left;
    padding:0;
    margin:10px;
}

a.preview {
    display: block;
    width:100px;
    height:100px;
    padding:10px;
    border: 1px solid #d2d2d2;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
}

a.preview:hover {
    background-color: #c32723;
    border: 1px solid #83302e;
}

#previews-bg, #signals-bg, #contacts-bg {
    border-top: 1px solid #d2d2d2;
    background-color: #fff;
}

#signals li, #contacts li {
    float: left;
    width: 400px;
    border: 1px solid #d2d2d2;
    margin: 10px;
    padding:10px;
}

#signals li div, #contacts li div {
    margin: 5px;

}

#contacts h2{
	background: url(../img/contacts.png) left 10px center no-repeat;
	padding-left: 50px;
}

#pictures h2{
	background: url(../img/pictures.png) left 10px center no-repeat;
	padding-left: 50px;
}

#signals h2{
	background: url(../img/signals.png) left 10px center no-repeat;
	padding-left: 50px;
}
