header {
	text-align:center;
	height:55px;
	padding:25px 0;
}

#wrapper {
	width:530px;
	margin:0 auto;
}

#content {
	padding-bottom:30px;


}

#form {
	display:block;
	text-align:center;
	margin:  50px 15px 25px;
}

#form label, #form input, #form button {
	font-size: 21px;
	text-align:center;
}

#form input {
	width: 270px;
	height: 35px;
	margin: 10px 15px;
	font-size: 28px;
	border:0;
	background-color: #fff;

}

#StatePanel {
    height: 50px;
    line-height:50px;
    font-weight: bold; 
    text-align: center; 
    color: #333333;
    margin-bottom:25px;
}

#StatePanel.error {
    border: 1px solid #c44509; 
    background-color:#fcfec8;
}


#sac.focused 
{
	color: #000;
}

#sac.unfocused 
{
	color: #9d9fa0;
}

#form button {
	background-color: #d4051c;
	color: #fff;
	-moz-border-radius: 21px;
	border-radius: 21px;
	border: 0;	
	height: 55px;
	line-height: 55px;
	width: 165px;
}

#form .form-col {
	float:left;
	width: 320px;
	height: 55px;
	-moz-border-radius: 21px;
	border-radius: 21px;
	border: 1px solid #a2a3a5;
	background: #fff;
}
#form .form-side {
	width: 165px;
	margin-left: 335px;
}

form {
	text-align:center;
}

footer {
	border-top: 1px solid #9d9fa0;
	height:30px;
	line-height: 30px;
	text-align:center;
}