* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}  
body {
	font: 14px/18px Helvetica, Verdana, Arial, Tahoma, sans-serif;
	height: 100%;
    background-color:#fff;
    color: #666666;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}


/* Links
 * ***************************************************************************/

a {
    color: #0079c8;
    outline: none;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}

a.active {
    font-weight:bold;
}

.menu a, a.active, .h3 a {
    text-decoration:none;
}

.menu a:hover, a.active:hover, .h3 a:hover  {
    text-decoration:underline;
}


/* Texts
 * ***************************************************************************/

p {
    margin: 0 0 18px
}
img {
    border: none;
}

.light {
    color:#1889b3;
}

.bright {
    color: #fff;
}

.dark {
    color: #222;
}

.bold {
    font-weight:bold;
}

/* Headers
 * ***************************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, .special {
    font-weight:normal;
}

h1, .h1 {
    font-size:18px;
    color: #666666;
}
h2, .h2 {
    font-size:18px;
    line-height:72px;
    color: #666;
    padding: 0 15px;
}
h3, .h3 {
    font-size: 16px;
    color: #666666;
    margin-bottom:9px;

}

/* Lists
 * ***************************************************************************/

ul,ol {
    margin: 13px 0 21px 13px;
}

ul li {
    list-style:none;
    margin: 8px 0; 
    padding-left: 16px;
}

/* Forms
 * ***************************************************************************/

input {
    vertical-align: middle;
}

/* Tables
 * ***************************************************************************/

table {
    width: 100%;
    background-color:#fff;
    border-width:0;
    border-collapse: collapse;
}

table.unheaded {
        border-top: 0;
}

table.unheaded td{
    border-bottom: 1px solid #d2d2d2;
    border-top: 0;
}

table .th td{
    background: #ffffff;
    padding: 3px 21px;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    border-width:1;
}


table td {
    border-top: 1px solid #d2d2d2;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    padding:3px 15px;
}

table td.th {
	width:25% !important;
}

/* Classes
 * ***************************************************************************/

.framed {
    border: 1px solid #cbcbcb;
}

.clear {
    clear:both;
}
.clear-left {
    clear:left;
}
.clear-right{
    clear:right;
}

a.button-more
{
    float:right;
    display:block;
    width:69px;
    height:36px;
    color: #a61616;
    font-family: 'Gothic';
    font-size:12px;
    line-height:34px;
    text-decoration:none;
    padding-left: 13px;

}

a.button-more:hover
{
    text-decoration: underline;
}